//$primaryColor: #c72727;
//$secondaryColor: #f99500;
//$lightColor: #f3f3f3;
//$darkColor: #333;
//$white: #fff;

:root {
  --primary-color: #27c7ba;
  --secondary-color: #f99500;
  --light-color: aliceblue;
  --dark-color: #333;
  --white: #fff;
}