@mixin fluid-text($max: 48, $min: 16){
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

// где 1440 - это максимальная ширина по макету
// 48 && 16 подразумеваются px

// этот миксин упростит нам вычисления для динамического размера шрифта
// нам достаточно будет в селекторе вызвать миксин передав туда максиамльный и минимальный размер шрифта
// в формате числового значения без указания единиц измерения

h1 {
    @include fluid-text(64,  24)
}

@mixin reset-link {
    color: inherit;

    // & просто, без hover - присвоит нижний стиль кокретному селектору
    // тобишь если сделаем a {@include reset-link} то будет
    // a, a:hover {прописанные нами стили}
    &,
    &:hover {
        text-decoration: none;
    }
}


@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}
  
@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else  {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}
  
@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}