h3 {
    margin: 0;
    padding: 0;
}

.worthy, .unique, .sexHabbit, .lazy {
    display: inline-block;
    margin-right: 10px;
}

.worthy, .goodHabbit {
    background-color: rgb(56, 238, 96);
}

.unique {
    background-color: rgb(243, 130, 219);
}

.lazy {
    background-color: rgba(186, 199, 199, 0.867);
}

.sexHabbit {
    background-color: rgb(255, 158, 94);
}

.dayInfo {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

.goodHabbit {
    display: inline-block;
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    padding: 0;
    margin: 0 0 5px 0;
}

.badHabbit {
    border: 1px solid red;
    margin-bottom: 5px;
}

.goal, .someText, .sportHabbits, .sportHabbits, .otherGoods, .badHabbits {
    transition: visibility 0s, opacity 0.3s linear;
}

.goal.hide, 
.someText.hide, 
.dayLabels.hide, 
.sportHabbits.hide,
.otherGoods.hide,
.badHabbits.hide,
.sexualHabbits.hide{
    position: absolute;
    visibility: hidden;
    opacity: 0;
}